<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  <!-- main menu section-->
  {{>navbar}}
  <!-- main header -->
  <div class="conatiner-fluid main-header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- Left Side -->
          <div class="col-md-4 col-12 main-header-right">
            <figure>
              <img src="images/kshitij.jpeg" alt="kshitij" class="img-fluid" title="Kshitij Ukey" />
            </figure>
          </div>
          <!-- Right Side -->
          <div class="col-md-8 col-12 main-header-left">
            <p>About Me</p>
            <h1>
              I'M a <span class="text-color">MERN Stack Developer</span>.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer section -->
  {{>footer}}
</body>

</html>