@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}

:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}

/* html {
  font-size: 85%;
} */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0;
}

.main-menu {
  background-color: var(--main-bg);
}

.navbar {
  color: #fff;
  padding: 1rem 0;
}

.navbar a {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-toggler {
  background-color: #009ad8;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-header-left {
  /* height: 70rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-header-left p {
  font-size: 2rem;
}

.main-header-left h1 {
  font-size: 3rem;
  margin: 1rem 0 3rem 0;
  text-transform: capitalize;
}

.main-header-left .text-color {
  color: var(--main-color);
}

.main-header-left button {
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #000;
}

.main-header-left button:hover {
  color: #1e272e;
}

.main-header-right {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-layer {
  margin: 0;
  padding: 0;
}

/* about page */

.main-header-right figure img {
  filter: drop-shadow(0 0.5rem 1rem var(--main-bg));
  height: 30rem;
  margin-left: 5rem;
}

/* error page */

.errimg img {
  width: 60rem;
  height: 30rem;
}

/* temp details */
.tempInformation {
  width: 40rem;
  margin: auto;
  min-height: 20rem;
  background-color: #323544;
  border-radius: 1rem;
  margin: 0 25rem;
  font-family: "Roboto", sans-serif;
}

.top-layer {
  width: 100%;
  height: 20%;
  background-color: #2d303d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.top-layer p {
  color: #fff;
  font-weight: 300;
  padding: 2rem;
  font-size: 1.3rem;
}

.main-layer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* margin: 0 10rem; */
}

.main-layer #city-name {
  color: #bfc1c8;
  font-weight: 300;
  font-size: 1.5rem;
}

.main-layer .middle-layer {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.main-layer .middle-layer p {
  font-size: 3rem;
}
.main-layer .middle-layer .fa {
  font-size: 5rem;
  font-weight: 900;
}

.fa {
  color: #009ad8;
}

sup {
  font-size: 2rem;
  margin-top: -10rem;
}

.data-hide {
  visibility: hidden;
  transition: all 0.3s linear;
}

.temp-form {
  width: 60%;
  position: relative;
  /* margin: 1.5rem auto; */
  margin: 2rem 25rem;
}

.temp-form input[type="text"] {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #1e202b;
  color: white;
  outline: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 3rem;
}

::placeholder {
  color: #bfc1c8;
}

.temp-form input[type="submit"] {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border: none;
  border-radius: 3rem;
  padding: 0 3rem;
  background-color: #009ad8;
  color: white;
  font-size: 1.2rem;
}

.temp-form input[type="submit"]:hover {
  color: #009ad8;
  background-color: white;
}
/* footer section */
footer {
  width: 100%;
  background-color: var(--main-bg);
  margin-top: auto;
}

footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  line-height: 5rem;
  letter-spacing: 2px;
  font-size: 1rem;
  font-style: italic;
}

/* responsive code */
@media (max-width: 768px) {
  .main-header-left {
    height: auto;
    margin: 5rem 0;
  }
  .main-header-right {
    height: auto;
    margin-top: 3rem;
  }
}

.temp-form {
  width: auto;
}

.tempInformation {
  width: auto;
}
